# Patent data 

Get the count of the number of patents by year to join with the other data

In [1]:
import pandas as pd
import numpy as np

In [5]:
patent_metadata_df = pd.read_csv("raw_data/us_patent_all_us_pharma_gvkey_metadata.csv", index_col= 0)

In [6]:
patent_detailed_df = pd.read_csv("raw_data/us_patent_all_us_pharma_all_patent_details_need_gvkey.csv", index_col= 0)

/tmp/ipykernel_2251721/117556560.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  patent_detailed_df = pd.read_csv("raw_data/us_patent_all_us_pharma_all_patent_details_need_gvkey.csv", index_col= 0)

In [7]:
patent_metadata_df

,patnum,gvkey_numeric,link_bdate,initial_assign,subsidiary_flag,wrds_score,multi_names_flag,gvkey
0,07862532,6721.0,2011-01-04,Y,NaN,2.0,0.0,6721
1,07862585,6266.0,2011-01-04,Y,NaN,1.0,0.0,6266
2,07862611,2085.0,2011-01-04,Y,NaN,5.0,0.0,2085
3,07862751,178531.0,2011-01-04,Y,NaN,1.0,0.0,178531
4,07862798,185428.0,2011-01-04,Y,NaN,1.0,0.0,185428
...,...,...,...,...,...,...,...,...
34652,RE047396,133468.0,2019-05-21,Y,NaN,1.0,0.0,133468
34653,RE047428,33724.0,2019-06-11,Y,NaN,1.0,0.0,33724
34654,RE047437,19859.0,2019-06-18,Y,NaN,1.0,0.0,19859
34655,RE047526,7637.0,2019-07-23,Y,Y,4.0,0.0,7637
34656,RE047689,174134.0,2019-11-05,Y,NaN,1.0,0.0,174134

In [8]:
patent_metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34657 entries, 0 to 34656
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   patnum            34657 non-null  object
 1   gvkey_numeric     34657 non-null  float64
 2   link_bdate        34657 non-null  object
 3   initial_assign    34657 non-null  object
 4   subsidiary_flag   7948 non-null   object
 5   wrds_score        34657 non-null  float64
 6   multi_names_flag  34657 non-null  float64
 7   gvkey             34657 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.4+ MB

In [10]:
patent_metadata_df["date"] = pd.to_datetime(patent_metadata_df['link_bdate'])
patent_metadata_df["year"] = patent_metadata_df["date"].dt.year

In [11]:
patent_metadata_df

,patnum,gvkey_numeric,link_bdate,initial_assign,subsidiary_flag,wrds_score,multi_names_flag,gvkey,date,year
0,07862532,6721.0,2011-01-04,Y,NaN,2.0,0.0,6721,2011-01-04,2011
1,07862585,6266.0,2011-01-04,Y,NaN,1.0,0.0,6266,2011-01-04,2011
2,07862611,2085.0,2011-01-04,Y,NaN,5.0,0.0,2085,2011-01-04,2011
3,07862751,178531.0,2011-01-04,Y,NaN,1.0,0.0,178531,2011-01-04,2011
4,07862798,185428.0,2011-01-04,Y,NaN,1.0,0.0,185428,2011-01-04,2011
...,...,...,...,...,...,...,...,...,...,...
34652,RE047396,133468.0,2019-05-21,Y,NaN,1.0,0.0,133468,2019-05-21,2019
34653,RE047428,33724.0,2019-06-11,Y,NaN,1.0,0.0,33724,2019-06-11,2019
34654,RE047437,19859.0,2019-06-18,Y,NaN,1.0,0.0,19859,2019-06-18,2019
34655,RE047526,7637.0,2019-07-23,Y,Y,4.0,0.0,7637,2019-07-23,2019
34656,RE047689,174134.0,2019-11-05,Y,NaN,1.0,0.0,174134,2019-11-05,2019

In [12]:
patent_metadata_df_filtered = patent_metadata_df[["gvkey", "gvkey_numeric", "year", "patnum"]]

In [16]:
patent_features_df = patent_metadata_df_filtered.groupby(["gvkey", "gvkey_numeric", "year"]).count().reset_index()

patent_features_df.head()

   gvkey  gvkey_numeric  year  patnum
0   1034         1034.0  2012       1
1   1248         1248.0  2015       2
2   1259         1259.0  2013       1
3   1259         1259.0  2014       2
4   1259         1259.0  2017       1

The above just looks at getting the statistics of other patents later, see if that's is needed


Check this with further literature.

Patent other features

Need to look at other features here?

To look at the other workflows?