## Boardex Graph Statistics

In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("raw_data/board_statistics_details.csv", index_col=0)
df.head()

,rowtype,boardname,ned,directorname,rolename,rolestatus,gender,nationality,boardid,directorid,...,nationalitymix,numberdirectors,stdevtimebrd,stdevtimeinco,stdevtotnolstdbrd,stdevtotcurrnolstdbrd,stdevnoquals,stdevage,networksize,companyid
0,Disclosed Earner,IDEXX LABORATORIES INC,No,David Shaw,Chairman/President/CEO,David Shaw joined this role on 22 Jul 1999,M,American,15486.0,16.0,...,0.0,9.0,6.2,6.4,1.5,0.8,1.5,10.1,4781.0,15486.0
1,Board Member,IDEXX LABORATORIES INC,No,David Shaw,Chairman/President/CEO,David Shaw joined this role on 22 Jul 1999,M,American,15486.0,16.0,...,0.0,9.0,6.2,6.4,1.5,0.8,1.5,10.1,4781.0,15486.0
2,Board Member,IDEXX LABORATORIES INC,No,David Shaw,Chairman/President/CEO,David Shaw joined this role on 22 Jul 1999,M,American,15486.0,16.0,...,0.0,10.0,6.2,6.6,1.4,0.8,1.4,9.6,4781.0,15486.0
3,Disclosed Earner,IDEXX LABORATORIES INC,No,David Shaw,Chairman/President/CEO,David Shaw joined this role on 22 Jul 1999,M,American,15486.0,16.0,...,0.0,10.0,6.2,6.6,1.4,0.8,1.4,9.6,4781.0,15486.0
4,Board Member,IRONWOOD PHARMACEUTICALS INC,Yes,David Shaw,Independent Director,David Shaw joined this role on 03 Feb 2010,M,American,1623243.0,16.0,...,0.0,9.0,0.0,0.0,2.9,1.1,0.8,10.5,4781.0,1623243.0

In [36]:
df["currency"].drop_duplicates() # alll usd so can just get the details here.

0    USD
Name: currency, dtype: object

In [37]:
df["cikcode"].isna().sum()

np.int64(497)

In [38]:
df.columns

Index(['rowtype', 'boardname', 'ned', 'directorname', 'rolename', 'rolestatus',
       'gender', 'nationality', 'boardid', 'directorid', 'timeretirement',
       'timerole', 'timebrd', 'timeinco', 'avgtimeothco', 'totnolstdbrd',
       'totnounlstdbrd', 'totnoothlstdbrd', 'totcurrnolstdbrd',
       'totcurrnounlstdbrd', 'totcurrnoothlstdbrd', 'noquals',
       'annualreportdate', 'currency', 'remchgelast', 'recordid', 'salary',
       'bonus', 'other', 'penempcon', 'totalcompensation', 'valtoteqheld',
       'valltipheld', 'intvaloptheld', 'estvaloptheld', 'toteqlinkedwlth',
       'valeqaward', 'ltipvalue', 'intrvaloptaward', 'estvaloptaward',
       'toteqatrisk', 'totremperiod', 'bonusratio', 'eqlinkremratio',
       'wealthdelta', 'totaldirectcomp', 'perftotal', 'ticker', 'isin',
       'cikcode', 'hocountryname', 'sector', 'index', 'succession',
       'attrition', 'genderratio', 'nationalitymix', 'numberdirectors',
       'stdevtimebrd', 'stdevtimeinco', 'stdevtotnolstdbrd',
       'stdevtotcurrnolstdbrd', 'stdevnoquals', 'stdevage', 'networksize',
       'companyid'],
      dtype='object')

In [39]:
# Board id and company id are the same !! so can just get the details for each annual report and join the results as needed

# filter by the right type, and get details

For years get the date by annual report date, and then get everything by boardid to gvkey and join details together.

In [40]:
annual_report_details_df = df[['boardid', #'cikcode', # 'directorid',  # got rid of the direictor id
'timeretirement',
       'timerole', 'timebrd', 'timeinco', 'avgtimeothco', 'totnolstdbrd',
       'totnounlstdbrd', 'totnoothlstdbrd', 'totcurrnolstdbrd',
       'totcurrnounlstdbrd', 'totcurrnoothlstdbrd', 'noquals',
       'annualreportdate', 'remchgelast', 'recordid', 'salary',
       'bonus', 'other', 'penempcon', 'totalcompensation', 'valtoteqheld',
       'valltipheld', 'intvaloptheld', 'estvaloptheld', 'toteqlinkedwlth',
       'valeqaward', 'ltipvalue', 'intrvaloptaward', 'estvaloptaward',
       'toteqatrisk', 'totremperiod', 'bonusratio', 'eqlinkremratio',
       'wealthdelta', 'totaldirectcomp', 'perftotal', 'succession',
       'attrition', 'genderratio', 'nationalitymix', 'numberdirectors',
       'stdevtimebrd', 'stdevtimeinco', 'stdevtotnolstdbrd',
       'stdevtotcurrnolstdbrd', 'stdevnoquals', 'stdevage', 'networksize']]

In [41]:
annual_report_details_df['annualreportdate'].isna().sum()

np.int64(5504)

In [42]:
annual_report_details_df = annual_report_details_df[(~annual_report_details_df['annualreportdate'].isna()) ]
annual_report_details_df.head()

,boardid,timeretirement,timerole,timebrd,timeinco,avgtimeothco,totnolstdbrd,totnounlstdbrd,totnoothlstdbrd,totcurrnolstdbrd,...,genderratio,nationalitymix,numberdirectors,stdevtimebrd,stdevtimeinco,stdevtotnolstdbrd,stdevtotcurrnolstdbrd,stdevnoquals,stdevage,networksize
0,15486.0,14.3,13.2,18.9,18.9,0.0,1.0,6.0,NaN,1.0,...,0.889,0.0,9.0,6.2,6.4,1.5,0.8,1.5,10.1,4781.0
1,15486.0,14.3,13.2,18.9,18.9,0.0,1.0,6.0,NaN,1.0,...,0.889,0.0,9.0,6.2,6.4,1.5,0.8,1.5,10.1,4781.0
2,15486.0,15.3,12.2,17.9,17.9,0.0,1.0,6.0,NaN,1.0,...,0.900,0.0,10.0,6.2,6.6,1.4,0.8,1.4,9.6,4781.0
3,15486.0,15.3,12.2,17.9,17.9,0.0,1.0,6.0,NaN,1.0,...,0.900,0.0,10.0,6.2,6.6,1.4,0.8,1.4,9.6,4781.0
4,1623243.0,8.3,2.8,2.8,2.8,7.1,3.0,14.0,NaN,1.0,...,0.889,0.0,9.0,0.0,0.0,2.9,1.1,0.8,10.5,4781.0

In [43]:
annual_report_details_df["annualreportdate"] = pd.to_datetime(annual_report_details_df['annualreportdate']) # get grant date details
annual_report_details_df["annualreport_year"] = annual_report_details_df["annualreportdate"].dt.year

In [44]:
# get the boardex gvkey linking 

boardex_gvkey_linking_df = pd.read_csv("raw_data/boardex_gvkey_compustat_link_table.csv", index_col = 0)

In [45]:
boardex_gvkey_linking_df

      permco  gvkey  companyid  score  preferred  duplicate
0         35   1259     1362.0    3.0        1.0        0.0
1        216   1602     2068.0    1.0        1.0        0.0
2        250   7799    21659.0    1.0        1.0        1.0
3        250   7799  1651568.0    1.0        1.0        1.0
4        887  12713      584.0    6.0        1.0        1.0
...      ...    ...        ...    ...        ...        ...
1317   59662  43287  3684127.0    1.0        1.0        0.0
1318   59665  43289  3684232.0    1.0        1.0        0.0
1319   59681  39018  3408934.0    3.0        1.0        0.0
1320   59711  43385  3698691.0    1.0        1.0        0.0
1321   59712  43555  3596970.0    6.0        1.0        0.0

[1322 rows x 6 columns]

In [46]:
boardex_gvkey_linking_df = boardex_gvkey_linking_df[boardex_gvkey_linking_df["preferred"]==1][["gvkey", "companyid"]].drop_duplicates()

In [49]:
merged_stats = pd.merge(boardex_gvkey_linking_df, annual_report_details_df, left_on = "companyid", right_on = "boardid")

merged_stats.head()

,gvkey,companyid,boardid,timeretirement,timerole,timebrd,timeinco,avgtimeothco,totnolstdbrd,totnounlstdbrd,...,nationalitymix,numberdirectors,stdevtimebrd,stdevtimeinco,stdevtotnolstdbrd,stdevtotcurrnolstdbrd,stdevnoquals,stdevage,networksize,annualreport_year
0,1259,1362.0,1362.0,1.9,7.2,7.2,7.2,6.2,4.0,2.0,...,0.3,8.0,7.5,7.5,1.7,1.3,1.1,8.8,684.0,2004
1,1259,1362.0,1362.0,0.9,8.2,8.2,8.2,6.5,4.0,2.0,...,0.3,8.0,7.5,7.5,1.9,1.5,1.1,8.8,684.0,2005
2,1259,1362.0,1362.0,2.9,6.2,6.2,6.2,5.9,4.0,2.0,...,0.4,5.0,7.4,7.4,1.7,1.2,0.8,7.8,684.0,2003
3,1259,1362.0,1362.0,-0.1,9.2,9.2,9.2,6.9,4.0,2.0,...,0.3,7.0,7.8,7.8,2.0,1.6,1.1,8.6,684.0,2006
4,1259,1362.0,1362.0,-1.1,10.2,10.2,10.2,7.2,4.0,2.0,...,0.3,7.0,7.8,7.8,1.9,1.7,1.1,8.6,684.0,2007

In [50]:
merged_stats.columns

Index(['gvkey', 'companyid', 'boardid', 'timeretirement', 'timerole',
       'timebrd', 'timeinco', 'avgtimeothco', 'totnolstdbrd', 'totnounlstdbrd',
       'totnoothlstdbrd', 'totcurrnolstdbrd', 'totcurrnounlstdbrd',
       'totcurrnoothlstdbrd', 'noquals', 'annualreportdate', 'remchgelast',
       'recordid', 'salary', 'bonus', 'other', 'penempcon',
       'totalcompensation', 'valtoteqheld', 'valltipheld', 'intvaloptheld',
       'estvaloptheld', 'toteqlinkedwlth', 'valeqaward', 'ltipvalue',
       'intrvaloptaward', 'estvaloptaward', 'toteqatrisk', 'totremperiod',
       'bonusratio', 'eqlinkremratio', 'wealthdelta', 'totaldirectcomp',
       'perftotal', 'succession', 'attrition', 'genderratio', 'nationalitymix',
       'numberdirectors', 'stdevtimebrd', 'stdevtimeinco', 'stdevtotnolstdbrd',
       'stdevtotcurrnolstdbrd', 'stdevnoquals', 'stdevage', 'networksize',
       'annualreport_year'],
      dtype='object')

In [51]:
final_merged_stats = merged_stats[['gvkey', 'annualreport_year', 'timeretirement', 'timerole',
       'timebrd', 'timeinco', 'avgtimeothco', 'totnolstdbrd', 'totnounlstdbrd',
       'totnoothlstdbrd', 'totcurrnolstdbrd', 'totcurrnounlstdbrd',
       'totcurrnoothlstdbrd', 'noquals', 'annualreportdate', 'remchgelast',
       'recordid', 'salary', 'bonus', 'other', 'penempcon',
       'totalcompensation', 'valtoteqheld', 'valltipheld', 'intvaloptheld',
       'estvaloptheld', 'toteqlinkedwlth', 'valeqaward', 'ltipvalue',
       'intrvaloptaward', 'estvaloptaward', 'toteqatrisk', 'totremperiod',
       'bonusratio', 'eqlinkremratio', 'wealthdelta', 'totaldirectcomp',
       'perftotal', 'succession', 'attrition', 'genderratio', 'nationalitymix',
       'numberdirectors', 'stdevtimebrd', 'stdevtimeinco', 'stdevtotnolstdbrd',
       'stdevtotcurrnolstdbrd', 'stdevnoquals', 'stdevage', 'networksize']]

In [54]:
final_merged_stats = final_merged_stats.groupby(["gvkey", "annualreport_year"]).mean().reset_index()

In [55]:
final_merged_stats

,gvkey,annualreport_year,timeretirement,timerole,timebrd,timeinco,avgtimeothco,totnolstdbrd,totnounlstdbrd,totnoothlstdbrd,...,genderratio,nationalitymix,numberdirectors,stdevtimebrd,stdevtimeinco,stdevtotnolstdbrd,stdevtotcurrnolstdbrd,stdevnoquals,stdevage,networksize
0,1034,2003,11.033333,4.873333,7.080000,6.400000,1.225000,2.454545,2.250000,NaN,...,0.667,0.4,9.0,9.7,9.7,1.8,1.1,0.9,8.4,1447.555556
1,1034,2004,11.028571,5.414286,7.980000,7.628571,0.966667,2.454545,2.375000,NaN,...,0.667,0.4,9.0,9.8,9.8,2.1,1.3,1.2,8.5,1501.111111
2,1034,2005,9.633333,5.966667,8.227273,8.100000,1.661538,2.916667,2.666667,NaN,...,0.700,0.6,10.0,9.7,9.7,2.1,1.3,1.1,8.2,1501.111111
3,1034,2006,10.058333,3.508333,6.800000,7.425000,1.850000,3.500000,2.200000,NaN,...,0.833,0.7,6.0,7.9,8.1,2.1,1.6,1.1,6.0,1243.000000
4,1034,2007,12.090909,2.654545,3.342857,4.772727,2.262500,4.142857,3.400000,NaN,...,1.000,0.7,6.0,4.5,4.5,2.5,1.6,1.2,5.8,1056.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8980,351038,2018,10.325000,2.612500,2.950000,3.025000,2.275000,2.250000,1.571429,NaN,...,0.750,0.0,8.0,2.0,2.0,1.2,0.9,1.1,8.2,690.250000
8981,351038,2019,9.100000,4.280000,4.280000,4.400000,2.120000,1.800000,1.500000,NaN,...,1.000,NaN,5.0,2.3,2.1,1.2,0.8,1.4,5.7,343.000000
8982,351038,2020,8.533333,2.300000,3.216667,3.316667,3.316667,1.833333,2.200000,NaN,...,0.833,0.0,6.0,2.8,2.8,1.1,0.0,0.4,6.6,318.500000
8983,351038,2021,8.014286,0.200000,0.200000,0.200000,1.828571,3.714286,8.666667,1.0,...,0.714,0.5,7.0,0.0,0.0,3.9,0.7,0.6,11.1,967.000000
8984,351038,2022,7.014286,1.200000,1.200000,1.200000,1.885714,3.857143,8.833333,1.0,...,0.714,0.5,7.0,0.0,0.0,3.9,0.3,0.6,11.1,967.000000

In [56]:
final_merged_stats["annualreport_year"].max()

np.int32(2023)

In [57]:
# getting average of average of the director details for workflow

final_merged_stats.to_csv("features/boardex_analytics_2011_2023.csv")